:root {
    --website-color: #f47e2b;
    --flame-color: #ec8a29;
}

body {
    margin: 0;
    padding: 0;
    /* background-image: url('https://i.pinimg.com/originals/70/94/c0/7094c069d31d621bb8de4c3318bd72a9.jpg'); */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.container1,
.container2,
.container3 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(10, 75px);
}

.navbar {
    grid-column: span 12;
    grid-row: span 2;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, 1fr);
    background-color: var(--website-color);
}

.footer {
    grid-column: span 12;
    grid-row: span 2;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin-top: 35px;
    background: #FDF7FA;
}

.vtbanner {
    grid-column: span 12;
    grid-row: span 1;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(1, 100px);
    background: #FDF7FA;
}

.footerinfo {
    grid-column: span 12;
    grid-row: span 1;
    display: flex;
    place-content: center;
    padding-bottom: 10px;
}

.vtlogopic {
    margin: auto;
    grid-column: span 2;
    height: 85%;
}

.vttitle {
    grid-column: span 10;
}

.maintitle {
    margin-bottom: 5px;
    font-weight: bold;
}

.secondarytitle {
    margin-top: 5px;
}

.navlinks {
    grid-column: span 12;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(6, 1fr);
}

.placeholderlinks {
    grid-column: span 2;
}

button {
    all: unset;
}

.cameranavlink,
.cameraaccnavlink,
.miscnavlink,
.linkbutton {
    text-align: center;
    width: 100%;
    height: 100%;
    transition: background-color 0.5s 100ms;
}

.cameranavlink:hover,
.cameraaccnavlink:hover,
.miscnavlink:hover,
.linkbutton:hover {
    background-color: var(--flame-color);
}

.reformatlinktext {
    margin: 0;
    color: black;
}

a {
    text-decoration: none;
}

.equipcheckoutcont {
    grid-column: span 12;
    grid-row: span 10;
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    grid-auto-rows: 62.5px;
}

.itemcheckout {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(10, 1fr);
    border: 3px black solid;
}

/* Define reusable item styling */
.itembanner1 {
    grid-column: span 8;
    grid-row: span 3;
    background-color: var(--flame-color);
    border-top: 3px solid black;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.itembutton1 {
    grid-column: span 2;
    grid-row: span 4;
    place-self: center;
}

.addtocart1 {
    font-size: 50px;
    color: black;
}

.itemtextbox {
    grid-column: span 
